<style media ="screen">
	li{
		height:500px;
		width:500px;
		color:red;
   		background-image: url("https://pngtree.com/freepng/cute-cartoon-creative-ice-cream_1013895.html");
		margin-bottom:30px;
	}
</style>

<h1>Ice creams for {{eater}}<h1>

<ul>
	{{#each ices}}
		<li>{{iceCream}}</li>
	{{/each}}
</ul>