<style media ="screen">
	body{
   		background-image: url("/images/background.jpg");
		
	}
	h1{
		color:teal;
		font-size: 50px;
		font-family: Comic Sans MS;
		text-align: center;
	}
	li{
		/*height:500px;
		width:500px;*/
		color:teal;
		font-size: 70px;
		text-align: center;
		font-family: Comic Sans MS;
		margin-bottom:30px;
	}
</style>

<h1>{{eater}} ice cream... What flavor would you like?<h1>

<ul>
	{{#each ices}}
		<li>
			{{iceCream}}
		</li>
		<img src={{photo}}>
	{{/each}}
</ul>