<style media ="screen">
	li{
		height:500px;
		width:500px;
		color:red;
   		background-image: url("https://www.vecteezy.com/vector-art/153282-free-flat-design-vector-ice-cream-pattern");
		margin-bottom:30px;
	}
</style>

<h1>{{eater}} ice cream... What flavor would you like?<h1>

<ul>
	{{#each ices}}
		<li>{{iceCream}}</li>
	{{/each}}
</ul>