<style media ="screen">
	body{
		color:#899CF0;
		font-size: 50px;
		text-align: center;
		font-family: Comic Sans MS;
   		background-image: url("/images/background.jpg");
		margin-bottom:30px;
	}

</style>

<h1>{{iceCream}}</h1>
<img src={{photo}}>